.DS_Store
.gradle
.svn
build/
.idea/workspace.xml
.idea/caches
.idea/libraries
.idea/modules
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
*.iml
/functions/node_modules/
local.properties
*.pepk
*.apk
*.aab
*.apks
