<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.eastar.app_lib2">

    <application>
        <activity android:name=".Lib2Activity">
            <intent-filter>
                <action android:name="dev.eastar.intent.action.Lib2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>