<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.eastar.mvvm">

    <dist:module dist:instant="true" />
    <application
        android:name="dev.eastar.branch.app.AppApplication"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="dev.eastar.branch.app.AppMain"
            android:resizeableActivity="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dev.eastar.branch.app.AppActivity" />
    </application>
</manifest>